.title{
    color: whitesmoke;
    font-size: 50px;
}
.container1{
    margin: auto;
    text-align: center;
}
.mepicture{
    height: 20%;
    width: 25%;
}
p{
    font-size: 2rem;
    color: whitesmoke;
    line-height: 2rem;
    margin-bottom: 5rem;
}